@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Lora", serif;
  overflow-x: hidden;
}

.App-wide {
  display: flex; 
  flex-direction: column;
  padding-left: 5vw;
  padding-right: 5vw;
}

.App-narrow {
  display: flex; 
  flex-direction: column;
  padding-left: 2vw;
  padding-right: 2vw;
}

.last {
  padding-bottom: 15vh;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: #1f1f1f;
  color: white;
}

.experiences-wide {
  margin-top: 30px;
  font-family: "Inter", sans-serif;
}

.experiences-narrow {
  display: none;
  margin-top: 30px;
  font-family: "Inter", sans-serif;
}

.experience {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3px;
  margin-bottom: 3px;
}

.theme {
  position:absolute;
  right: 25px;
  top: 25px;
}

a {
  color: inherit;
  text-decoration: none;
}

.work_url {
  color: inherit; 
  text-decoration: underline;
  text-decoration-color: #b3a279;
}

.center {
  font-family: "Inter", sans-serif;
  margin-bottom: 30px;
}

.icons {
  display: flex; 
  flex-direction: row; 
  align-items: center;
}

.work-wide {
  padding: 20px;
  display: flex; 
  flex-direction: column; 
  width: 15vw;
}

.work-narrow {
  padding: 20px;
  display: flex; 
  flex-direction: column; 
  width: 30vw;
}

.work_header {
  font-size: 20px;
  margin-bottom: 3px;
}

.work_desc {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  margin-top: 15px;
  padding-bottom: 5px;
}

.work_tools {
  display: flex; 
  flex-direction: row;
  font-size: 13px;
  color: #b3a279;
  font-family: "IBM Plex Mono", monospace;
  flex-wrap: wrap;
  white-space: pre-line;
}

.work_tool {
  margin-right: 18px;
  white-space: nowrap;
}

.work_div {
  max-width: 800px;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  flex-wrap: wrap;
}

.links {
  margin-right: 18px;
  font-size: 16px;
}

.links:hover {
  color: #b3a279;
}

.img {
  margin-right: 10px;
  width: 30px;
  cursor: pointer;
}

.header {
  font-size: 30px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.section-wide {
  display: flex;
  flex-direction: row;
  margin-top: 150px;
}

.section-narrow {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
}

.section {
  display: flex;
  flex-direction: column;
}

.section-left-wide {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  width: 30vw;
}

.section-left-narrow {
  display: flex;
  flex-direction: column;
  width: 75vw;
}

li {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.courses-header {
  font-family: "Inter", sans-serif;
  margin-top: 30px;
  font-style: italic;
  text-decoration: underline;
}

.courses {
  font-family: "Inter", sans-serif;
  margin-top: 10px;
  font-size: 15px;
}
